name: Create release with mod JAR and datapack ZIP

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set tag name
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Set repository name
        run: echo "REPOSITORY=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build mod with Gradle
        run: ./gradlew clean build

      - name: Find JAR file
        id: find_jar
        run: |
          JAR_FILE=$(find build/libs -name "*.jar" ! -name "*-sources.jar" | head -n 1)
          echo "jar_file=$JAR_FILE" >> $GITHUB_OUTPUT
          echo "jar_name=$(basename $JAR_FILE)" >> $GITHUB_OUTPUT

      - name: Create datapack ZIP file
        run: |
          cd src/main/resources/resourcepacks/datapack && zip -r ../${{ env.REPOSITORY }}-datapack-${{ env.TAG }}.zip *

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG }}
          draft: false
          prerelease: false
          files: |
            ${{ steps.find_jar.outputs.jar_file }}
            src/main/resources/resourcepacks/${{ env.REPOSITORY }}-datapack-${{ env.TAG }}.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}