name: Create release with datapack ZIP

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set tag and repository name
        run: |
          echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "REPOSITORY=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV

      - name: Create datapack ZIP file
        run: cd datapack && zip -r ../${{ env.REPOSITORY }}-datapack.zip *

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG }}
          draft: false
          prerelease: false
          generate_release_notes: false
          files: ${{ env.REPOSITORY }}-datapack.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
